<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arpitparekh.jan12androidproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jan12AndroidProject">
        <activity
            android:name=".switch_toggle_button.MySwitchActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".fragment_new_way.AnotherHolderActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".fragments.HolderActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".designing.DesignActivity"
            android:exported="false" />
        <activity
            android:name=".cordinator_layout.MyCoActivity"
            android:exported="true" />
        <activity
            android:name=".viewBinding_dataBinding.MyDataBindActivity"
            android:exported="true" />
        <activity
            android:name=".viewBinding_dataBinding.MyActivity"
            android:exported="false" />
        <activity
            android:name=".object_transfer_activity.DusriActivity"
            android:exported="false" />
        <activity
            android:name=".object_transfer_activity.PehliActivity"
            android:exported="true" />
        <activity
            android:name=".string_transfer_activity.GoaActivity"
            android:exported="false" />
        <activity
            android:name=".string_transfer_activity.MumbaiActivity"
            android:exported="true" />
        <activity
            android:name=".activity_switch_implicit.ImplicitActivity"
            android:exported="true" />
        <activity
            android:name=".activity_switch_explicit.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".activity_switch_explicit.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>